<div class="footer">
  @<a href="http://mycolorway.com" target="_blank">WMJ设计</a>
</div>
</body>
<script src="/utils/flat-ui/js/vendor/video.js"></script>
<script src="/utils/flat-ui/js/flat-ui.min.js"></script>
</html>
